@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: darkslategrey;
}

@media screen and (max-width: 600px){
    header{
        width: 100%;
        height: 94vh;
        text-align: center;
        background-image: url(https://images.unsplash.com/photo-1511649475669-e288648b2339?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    
    }
    ul{
        background: hsl(0deg 0% 0%);
        margin-top: 582px;
        position: fixed;
        z-index: 1;
        display: flex;
        width: 100%;
    }
    section {
        width: 100%;
        height: 632vh;
        background: hsl(0deg 0% 100%);
        position: absolute;
        margin: 0px 0px 0px 0px;
        z-index: -1;
        text-align: center;
    }
    #First_articles {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
        margin: -44px 0px 0px 0px;
        width: 100%;
    }
    .First_title_Articles {
        position: absolute;
        font-size: 35px;
        margin-top: -1666px;
        font-family: 'Roboto Mono', monospace;
    }
    #Second_articles {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
        margin: -44px 0px 0px 0px;
        width: 100%;
    }
    .Second_title_Articles {
        position: absolute;
        font-size: 35px;
        margin-top: -1699px;
        font-family: 'Roboto Mono', monospace;
    }
    select {
        position: absolute;
        margin: 23px 0px 0px 5px;
        padding: 4px;
        border-radius: 4px;
        cursor: pointer;
    }
    .block_of_information {
        width: 100%;
        height: 103px;
        margin-top: 223px;
        background-color: hsl(0deg 0% 100%);
        border-color: hsl(0deg 0% 100%) hsl(0deg 0% 100%) hsl(0deg 100% 50%) hsl(0deg 0% 100%);
        border-style: solid;
    }
    footer {
        width: 100%;
        height: 125px;
        background: hsl(180deg 25% 25%);
        margin-top: 4031px;
        border-top-color: hsl(0deg 0% 50%);
        border-bottom: none;
        border-left-style: none;
        border-right-style: none;
        border-top-style: solid;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    #phase_of_copy_of_footer {
        margin-top: 139px;
        margin-left: -41px;
        font-family: 'Roboto Mono', monospace;
        font-weight: 300;
        font-style: normal;
        font-size: 13px;
        color: hsl(0deg 0% 100%);
    }
    
}